<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.dungzi.test4" version="1" xmlns="http://www.w3.org/ns/widgets"  xmlns:gap="http://phonegap.com/ns/1.0">
	<name>테스트</name>
	<description>
		테스트
	</description>
	<author email="webplug@gmail.com" href="http://www.dungzi.com/">
		Dungzi Team
	</author>
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="SplashScreenDelay" value="0" />
	<preference name="SplashMaintainAspectRatio" value="true|false" />
	<preference name="SplashShowOnlyFirstTime" value="true|false" />
	<preference name="android-minSdkVersion" value="15" />
	<preference name="fullscreen" value="true" />

	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm"  />
	
	<icon src="icon.png" />
	<content src="index.html" />
	<access origin="test4.dungzi.com/*" />
	<allow-navigation href="test4.dungzi.com/*" />
</widget>